{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">


<link rel="icon" href="/images/favicon.ico?" type="image/x-icon">

<link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">


<meta http-equiv="cleartype" content="on">

<meta name="google-site-verification" content="hej6JYavvSii4Zch8nbGdU1dVanfeieqBvqBZkKGZl4" />

<meta name = "keywords" content - "Cassidy Buhler, Cassidy K Buhler, Cassie Buhler, Cassidy K. Buhler, Cassidy Kim Buhler, CK Buhler, CKBuhler, Cassie K Buhler, Cassie Kim Buhler, Cassy Buhler, Cassi Buhler, cassidy buhler, cassidy k buhler, cassidy buhler drexel" />
